<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row ">
            <div class="col-xs-8">
                <span class="h2">Contacts</span>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-success">New Contact</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row list-container">
            <ul class="list-group">
                <app-contact-item 
                    (click)="onSelect(inputContact)"
                    *ngFor="let inputContact of contacts" 
                    [contact]="inputContact"></app-contact-item>
              </ul>
        </div>
    </div>
  </div>


